In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.Series()

Series([], dtype: object)

In [5]:
X = ['A', 'B', 'C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [ ]:
X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

In [8]:
X.values

array(['A', 'B', 'C'], dtype=object)

In [9]:
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
Name: My letters, dtype: object

In [11]:
# X[0]
X['first']

'A'

In [12]:
X['third']

'C'

In [14]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[1:-1]

second    B
third     C
forth     D
dtype: object

In [15]:
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [16]:
pd.Series(X, dtype=np.float_)

first     A
second    B
third     C
forth     D
fifth     E
dtype: object

In [17]:
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [19]:
X[4] = 10
X

/tmp/ipykernel_60276/1687317434.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  X[4] = 10

first      A
second     B
third      C
forth      D
fifth     10
dtype: object

In [20]:
X[1:-1] = 0
X

first      A
second     0
third      0
forth      0
fifth     10
dtype: object

In [21]:
X = pd.Series([1,2,3,4,5])
X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [22]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [24]:
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [ ]:
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [27]:
X[X > X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

In [29]:
X[(X == 2) | (X == 10)]

1     2
9    10
dtype: int64

In [30]:
X.all()

False

In [ ]:
X.any()

True

In [ ]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

X.sum()